.card{
    background-color: #272727;
    width: 25rem;
    height: 15rem;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;

}


.card img{
    border-radius: 2rem;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1) 30%, rgba(255, 255, 055, 0) 100%);
    min-height: 100%;
    min-width: 100%;
}

.card:hover img{
    filter: blur(2.5px) brightness(0.2);
    mask-image: none;
    transition: 0.3s;

}

.overlay{
    padding: 0rem;
    bottom: 12rem;
    position:relative;
    color: #fff;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.3s;
    text-align: center;
        
}

.link_games{
    text-decoration: none;
}

.link_games h3:hover{
    color: #f59f00;
    transition: 400ms;
}

.overlay h3{
    font-size: 1.5rem;
}

.card:hover .overlay{
    opacity: 1;
    transform: translate(0);
    transition: 0.3s;
}

.title{
    text-align: center;
    left:0em;
    bottom: 3.5rem;
    position: relative;
    font-size: 1.3rem;
    font-weight: bold;
    width: 75%;
}

.card:hover .title{
    transform: translate(0);
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
}