.login {
    background-color: white;
    width: 40%;
    height: 50%;
    border-radius: 2rem;
    padding: 1rem 3rem;
    position:relative;
}

.login button{
    width: 5rem;
}

.field{
    padding: 1% 0% 1% 0%;
}

main {
    background-color: #272727;
    margin-top: 0%;
    padding: 2% 0% ;
    text-align: center;
    
}

main h1{
    margin-bottom: 2%;
}

.login img {
    background-color: black;
    max-height: 4rem;
    max-width: 16rem;
}